.weather-info-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-grow: 3;
  background-color: #FEDBD0;

  div:nth-child(1) {
    .weather-info {
      background-color: #6200EE;
    }
  }

  div:nth-child(2) {
    .weather-info {
      background-color: #FFDE03;
    }
  }

  div:nth-child(3) {
    .weather-info {
      background-color: #BB86FC;
    }
  }

  div:nth-child(4) {
    .weather-info {
      background-color: #FF0266;
    }
  }

  div:nth-child(5) {
    .weather-info {
      background-color: #03DAC6;
    }
  }

  div:nth-child(6) {
    .weather-info {
      background-color: #6200EE;
    }
  }

  div:nth-child(7) {
    .weather-info {
      background-color: #FFDE03;
    }
  }

  div:nth-child(8) {
    .weather-info {
      background-color: #BB86FC;
    }
  }

  div:nth-child(9) {
    .weather-info {
      background-color: #FF0266;
    }
  }

  div:nth-child(10) {
    .weather-info {
      background-color: #03DAC6;
    }
  }
}

.container {
    display: flex;
    //flex-direction: row;
    //flex-wrap: wrap;
    //justify-content: space-evenly;
    align-items: stretch;
    //align-content: space-around;
    height: 600px;
    div {
      height: 130px;
      width: 300px;
      margin: 5px;
    }


    div:nth-child(1) {
        flex-basis: 100px;
       // flex-grow: 2;
      //flex-shrink: 4;
      //order:4;
      background-color: #6200EE;
        //align-self: flex-end;
        //padding: 10px;
    }

    div:nth-child(2) {
        //flex-shrink: 0;
      background-color: #FFDE03;
    }

    div:nth-child(3) {
      background-color: #BB86FC;
    }

    div:nth-child(4) {
      background-color: #FF0266;
    }

    div:nth-child(5) {
      background-color: #03DAC6;
    }

    div:nth-child(6) {
      background-color: #6200EE;
    }
  }
