<app-weather-station-base-header (startDateEvent)="getStartDate($event)" (endDateEvent)="getEndDate($event)"></app-weather-station-base-header>
<div class="weather-info-container">
    <div *ngFor="let weather of weathers" >
        <app-weather-station-info-one-point [weather]="weather"></app-weather-station-info-one-point>
    </div>
</div>
<!-- <div class="container">
    <div> Element 1 </div>
    <div> Element 2 </div>
    <div> Element 3 </div>
    <div> Element 4 </div>
    <div> Element 5</div>
    <div> Element 6 </div>
</div> -->
<app-weather-station-base-footer></app-weather-station-base-footer>