<div class="footer">
      <div class="about-us">
        <a class="mail" [href]="'mailto:' + mailKarolina">{{mailKarolina}}</a>
        <a class="mail" [href]="'mailto:' + mailMateusz">{{mailMateusz}}</a>
      </div>
  </div>
