.footer{
    background-color: #FEDBD0;
    display: flex;
    padding: 0.5rem;
}
.about-us{ 
    padding: 0 2rem 1rem 0;
    margin-left: auto;
    display:flex;
    flex-direction: column;
    .mail{
        font-size: 20px;
    }
    span{
        padding: 0.5rem;
        color: #442C2E;
        font-size: 16px;
        font-family: Roboto;
    }
    input {
        padding: 0.25rem 0;
    }
}