<div class="header">
  <button class="home-btn">Strona główna</button>
  <div class="range-dates">
    <span class="range">Zakres dat</span>
    <div>
        <span>od</span>
        <input type='text' [(ngModel)]="startDate" placeholder="YYYY-MM-DD"   mask="0000-00-00" >
        <span>do</span>
        <input type='text' [(ngModel)]="endDate" placeholder="YYYY-MM-DD"   mask="0000-00-00"> 
    </div>
    <button class="home-btn" (click)="sendRangeDates()">Szukaj</button>
  </div>
</div>
