.header{
    background-color: #FEDBD0;
    display: flex;
    padding: 0.5rem;
}
.home-btn{
    margin:1.3rem 0 0 2rem;
    height: 50px;
    width: 130px;
    border-radius: 20px;
    background-color: #5D1049;
    color: #ffffff;
}
.range-dates{ 
    padding: 0 2rem 1rem 0;
    margin-left: auto;
    display:flex;
    flex-direction: column;
    .range{
        font-size: 20px;
    }
    span{
        padding: 0.5rem;
        color: #442C2E;
        font-size: 16px;
        font-family: Roboto;
    }
    input {
        padding: 0.25rem 0;
    }
}