.weather-info{
    display:flex;
    flex-direction: column;
    min-height: 300px;
    color: #ffff;
    font-size:22px;
    font-weight: bold;
    div {
        padding: 2rem 2rem;
    }
    span {
        padding: 2rem 0.2rem;
    }
}