<div #weatherInfo class="weather-info">
  <div>
    <label>Data: </label>
    <span>{{weather.date | date: 'dd.MM.yyyy'}}</span>
  </div>
  <div>
    <label>Godzina: </label>
    <span>{{weather.date | date: 'hh:mm'}}</span>
  </div>
  <div>
    <label>Wilgotność powietrza: </label>
    <span>{{weather.airHumidity }} %</span>
  </div>
  <div>
    <label>Temperatura powietrza: </label>
    <span>{{weather.temperature }} </span>
  </div>
  <div>
    <label>Ciśnienie: </label>
    <span>{{weather.airPressure }} HPa</span>
  </div>
</div>
